*.csv
lib/*
bin/*

code/.vscode

code/best_costmaps/*
code/better_costmaps/*

code/core/func/__pycache__/
code/core/model/__pycache__/
code/core/utils/__pycache__/

code/not_using/
code/model_params/
code/sh/
code/testing/
code/notebooks/

ETC

CCBS.zip

code/core/model/legacy

code/h_value_maps/*
!code/h_value_maps/test_68

code/costmaps/*
!code/costmaps/test_68_heatmap/
code/costmaps/test_68_heatmap/*
!code/costmaps/test_68_heatmap/sorted_normalized_nonvertex
!code/costmaps/generate_heatmap_large.py

code/instances/*
code/instances/gen_test/
!code/instances/generated/
code/instances/generated/*
!code/instances/generated/test_68

Results/Making_heatmap/*
!Results/Making_heatmap/test_68
Results/Making_heatmap/test_68/*
!Results/Making_heatmap/test_68/sorted_normalized_nonvertex

Results/test_68(cbs)

Results/Train_results/*
!Results/Train_results/test_68
Results/Train_results/test_68/legacy